* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
.container {
  background: linear-gradient(135deg, #153677, #4e085f);
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  scroll-behavior: smooth;
  /* border: 2px solid red; */
}
#To-Do-App {
  width: 600px;
  border-radius: 25px;
  /* border: 2px solid red; */
  padding: 30px;
  background: #ffffff;
  margin: 125px auto 50px;
  /* margin: 0px auto; */
  max-height: 500px;
  overflow-y: auto;
}

h1 {
  color: #153677;
  margin: 18px auto;
  font-size: 2rem;
  margin-left: 12px;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* border: 2px solid red; */
  margin: 25px auto 50px;
}
#input-box {
  background: rgb(223, 247, 247);
  display: block;
  flex: 1;
  border: none;
  box-shadow: 0px 0px 4px;
  /* border: 2px solid red; */
  color: #212121;
  outline: none;
  height: 40px;
  width: 325px;
  padding: 25px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
}

#button {
  font-size: 1rem;
  background: #ff5945;
  border: 3px solid transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  color: #fff;
  margin-left: 8px;
  border-radius: 25px;
}

#button:hover {
  background: #212121;
  transition: all 0.3s ease;
}

.task-list {
  /* border: 3px solid #ff5945; */
  padding: 0px 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: ease-in-out;
}

.task-list li {
  list-style: none;
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px;
  /* border: 3px solid #ff5945; */
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  word-spacing: 1px;
}

/* .task-list i:first-child {
  box-sizing: border-box;
  background: yellowgreen;
  color: #fff;
  font-weight: 900;
  padding: 8px;
  cursor: pointer;
  background: #153677;
} */

.task-list i {
  cursor: pointer;
  color: #212121;
  background: yellowgreen;
  padding: 10px;
  margin-left: 30px;
}

.task-list i:hover {
  color: aliceblue;
  background: #d11a2a;
}

.task-list span {
  padding-left: 10px;
}
::-webkit-scrollbar {
  background: #d1e5ff;
  border-radius: 50px;
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 50px;
}

/* /// Media queries / (MOBILE DEVICE) */

@media only screen and (max-width: 425px) {
  .container {
    background: linear-gradient(135deg, #153677, #4e085f);
    height: 90vh;
    width: 100%;
    padding: 30px;
    scroll-behavior: smooth;
    /* border: 2px solid red */
  }
  #To-Do-App {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: 45px auto 10px;
    height: 100%;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px auto 35px;
  }
  #input-box {
    background: rgb(223, 247, 247);
    display: block;
    height: 10px;
    width: 95%;
    margin: 0px auto 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 12px;
  }
  #button {
    font-size: 1.1rem;
    background: #ff5945;
    border: 3px solid transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 95%;
    padding: 8px;
    color: #fff;
    margin-left: 0px;
    border-radius: 15px;
  }
  .task-list {
    width: 100%;
    padding: 0px 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: ease-in-out;
  }
  .task-list li {
    list-style: none;
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: 500;
  }
  h1 {
    color: #153677;
    margin: 16px auto;
    font-size: 1.8rem;
    margin-left: 12px;
  }
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: none;
}
